{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="shortcut icon"
      href="{% static 'main/favicon.ico'%}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static 'main/favicon.ico'%}"
      type="image/x-icon"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{%static 'main/main.css'%}" />
    <link rel="stylesheet" href="{%static 'wallet/base.css'%}" />
    <title>Shylock Account</title>
  </head>
  <body>
    <div class="container main_container">
      <nav class="main_nav  mt-2">
        <div class="main_small_links">
          <li class="mt-1">
            <a href="{%url 'main-home'%}">Home</a>
          </li>
          {% if user.is_authenticated%}
          <li class="  mt-1 ml-4 ">
            <a href="{%url 'wallet-home'%}">Wallet</a>
          </li>
          <li class="  mt-1 ml-4 ">
            <a href="{%url 'users-logout'%}">Logout</a>
          </li>
          {%endif%}
        </div>
        {%if user.is_authenticated%}
        <li class="mt-2">
          <span
            class="iconify "
            data-icon="fa-solid:user-circle"
            data-inline="false"
          ></span>
        </li>
        {%else%} {%endif%}
      </nav>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li style="list-style: none;">
          {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}<span
            class="bg-warning font-weight-bold text-white p-3 rounded"
            >{{ message }}</span
          >
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<span
            class="bg-danger font-weight-bold text-white p-3 rounded"
            >{{ message }}</span
          >
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<span
            class="bg-success font-weight-bold text-white p-3 rounded"
            >{{ message }}</span
          >
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}<span
            class="bg-info font-weight-bold text-white p-3 rounded"
            >{{ message }}</span
          >
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %} {%block content%}{%endblock %}
      <div class="footer mt-5">
        <p>
          Built using
          <span
            title="django"
            class="iconify m-1"
            data-icon="logos:django"
            data-inline="false"
          ></span>
          &
          <span
            title="bootstrap"
            class="iconify m-1"
            data-icon="logos:bootstrap"
            data-inline="false"
          ></span>
          by
          <span
            ><a href="https://khalayi-lwanga.herokuapp.com" class="developer"
              >Khalayi.T.Lwanga</a
            ></span
          >
        </p>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>
  </body>
</html>
